@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');

:root {
  --dark: #3e4145dc;
  --accent: #e07800;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

header {
  display: flex;
  align-items: center;
  text-align: center;
  background: var(--dark);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 10vh;
}

nav {
  position: absolute;
  top: 100%;
  list-style: none;
  margin: 0;
  text-align: left;
  background-color: var(--dark);
  width: 100vw;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 200ms ease-in-out;
  
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
}

nav li {
  margin: .5em 1em;
  opacity: 0;
  transform: opacity;
  transition: opacity 100ms ease-in-out;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  letter-spacing: .4px;
  transition: 200ms ease-in-out;
}

nav a:hover {
  color: var(--accent);
}

#hambox {
  display: none
}

#hambox:checked ~ nav{
  transform: scale(1,1);
}

#hambox:checked ~ nav li {
  opacity: 1;
  transition: opacity 100ms ease-in-out 100ms;
}

.hamburger {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vh;
  position: absolute;
  left: 1em;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:hover > span{
  background: var(--accent);
}

.hamburger span{
  position: relative;
  padding: 0;
  background: white;
  height: 2px;
  width: 100%;
  border-radius: 30%;
  position: absolute;
}

#one {
  top: 0;
  transition: 200ms ease-in-out;
}

#two {
  opacity: 1;
  transform: scale(1,1);
  transition: 200ms ease-in-out;
}

#three {
  bottom: 0;
  transition: 200ms ease-in-out;
}

#hambox:checked ~ .hamburger #one {
  /*
  top: 50%;
  left: 15%;
  width: 1.5em;
  transform-origin: top; 
  transform: rotate(45deg); */
  transform: rotate(22deg);
  top: 50%;
  height: 3px;
}

#hambox:checked ~ .hamburger #two {
  transform: scale(0, 1);
}

#hambox:checked ~ .hamburger #three {
  /* bottom: 40%;
  left: 13.5%;
  width: 1.5em;
  transform-origin: top;
  transform: rotate(-45deg); */
  height: 3px;
  transform: rotate(-22deg);
  bottom: calc(50% - 3px);
}

/* Projects */

.projects {
  margin: 15vh 10vw 0 10vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2vw;
}

.project {
  display: inline-grid;
  background-color: var(--accent);
  height: 25vh;
  /* now grid layout for cool stuff */
}