@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');

:root {
  --dark: #3e4145;
  --accent: #e07800;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

header {
  display: flex;
  align-items: center;
  text-align: center;
  background: var(--dark);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 10vh;
}

section:first-of-type::before {
  position: relative;
  content: ' ';
  display: block;
  width: 100%;
  height: 10vh;
  background-color: blue;
  
}

nav {
  position: absolute;
  top: 100%;
  list-style: none;
  margin: 0;
  text-align: left;
  background-color: var(--dark);
  width: 100vw;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 200ms ease-in-out;
  
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
}

nav li {
  margin: .5em 1em;
  opacity: 0;
  transform: opacity;
  transition: opacity 100ms ease-in-out;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  letter-spacing: .4px;
  transition: 200ms ease-in-out;
}

nav a:hover {
  color: var(--accent);
}

#hambox {
  display: none
}

#hambox:checked ~ nav{
  transform: scale(1,1);
}

#hambox:checked ~ nav li {
  opacity: 1;
  transition: opacity 100ms ease-in-out 100ms;
}

.hamburger {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vh;
  position: absolute;
  left: 1em;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:hover > span{
  background: var(--accent);
}

.hamburger span{
  position: relative;
  padding: 0;
  background: white;
  height: 2px;
  width: 100%;
  border-radius: 30%;
  position: absolute;
}

#one {
  top: 0;
  transition: 200ms ease-in-out;
}

#two {
  opacity: 1;
  transform: scale(1,1);
  transition: 200ms ease-in-out;
}

#three {
  bottom: 0;
  transition: 200ms ease-in-out;
}

#hambox:checked ~ .hamburger #one {
  /*
  top: 50%;
  left: 15%;
  width: 1.5em;
  transform-origin: top; 
  transform: rotate(45deg); */
  transform: rotate(22deg);
  top: 50%;
  height: 3px;
}

#hambox:checked ~ .hamburger #two {
  transform: scale(0, 1);
}

#hambox:checked ~ .hamburger #three {
  /* bottom: 40%;
  left: 13.5%;
  width: 1.5em;
  transform-origin: top;
  transform: rotate(-45deg); */
  height: 3px;
  transform: rotate(-22deg);
  bottom: calc(50% - 3px);
}

/* Projects */

.projects {
  margin: 0 10vw 0 10vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 20vh 2vw;
}

.project {
  display: inline-grid;
  position: relative;
  background-color: var(--accent);
  height: 25vh;
}

.project:hover {
  cursor: pointer;
}

.project img {
  width: 100%;
  height: 100%;
  object-position: 0 0;
  object-fit: cover;
  opacity: 1;
  transition: 200ms ease-in-out;
}

.project:hover img {
  opacity: 0;
}

.tags {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  float: right;
  width: 100%;
  text-align: center;
  gap: 4px;
  padding: 0 4px 4px 0;
}

.tag {
  background-color: var(--dark);
  width: 70px;
  border-radius: 10%;
  opacity: 0;
  transition: 100ms 100ms ease-in-out;
}

.project:hover .tag {
  opacity: 1;
}

.project p {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
}

.info {
  margin-top: 10vh;
  position: absolute;
  right: 100%;
  transition: right 200ms ease-in-out;
}

#infobox {
  display: none;
}

#infobox:checked ~ .info {
  right: 0;
}

#content {
  margin-top: 15vh;
  position: absolute;
  left: 0; 
  transition: left 200ms ease-in-out;
}

#infobox:checked ~ #content {
  left: 100%;

}


/* Index page */

h1,
h3 {
  margin: 0;
  padding: 0;
}

.hero {
  padding-top: 10vh;
  background-image: url(../resources/profile.png);
  background-color: var(--accent);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 25vh;
  width: 100%;
  }

.about {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.card {
  background-color: var(--accent);
  width: 75vw;
  border-radius: .75em;
}

.card + .card {
  margin-top: 2em;
}

.card ul {
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
}

.card li {
  list-style: none;
}

.card li + li {
  padding-top: .75em;
}

.title-card {
  margin: 1.25em 0;
}