.intro h1 {
  margin-left: 15%;
  font-size: 3em;
}

.intro h1 span {
  color: var(--accent);
}

.intro p {
  margin-left: 15%;
}

.intro img {
  display: block;
  height: 40vmax;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.card {
  background-color: var(--accent);
  width: 250px;
  border-radius: .75em;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  transform: scale(1,1);
  transition: transform 100ms linear;
}

.card:hover {
  transform: scale(1.05,1.05);
}

.card + .card {
  margin-top: 3em;
}

.card ul {
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
}

.card li {
  list-style: none;
}

.card li + li {
  padding-top: .75em;
}

.title-card {
  margin: 1.25em 0;
}