.projects {
  margin: 0 10vw 0 10vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 20vh 2vw;
}

.project {
  display: inline-grid;
  position: relative;
  background-color: var(--accent);
  height: 25vh;
}

.project:hover {
  cursor: pointer;
}

.project img {
  width: 100%;
  height: 100%;
  object-position: 0 0;
  object-fit: cover;
  opacity: 1;
  transition: 200ms ease-in-out;
}

.project:hover img {
  opacity: 0;
}

.tags {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  float: right;
  width: 100%;
  text-align: center;
  gap: 4px;
  padding: 0 4px 4px 0;
}

.tag {
  background-color: var(--background);
  width: 70px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 100ms 100ms ease-in-out;
}

.project:hover .tag {
  opacity: 1;
}

.project p {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
}

#content {
  position: relative;
  left: 0; 
  min-height: 100vh;
}

#infobox {
  display: none;
}

.info {
  background-color: var(--background-light);
  position: absolute;
  bottom: calc(100% + 5px);
  z-index: 9999;
  overflow: hidden;
  border-radius: 0 0 10vmin 10vmin;
  transform: translateY(0);
  width: calc(98% - 20px);
  margin-left: calc(1% + 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0 0 black;
  transition: transform 200ms ease-in-out, box-shadow 0ms 200ms;
}

#infobox:checked ~ .info {
  transform: translateY(calc(100% + 5px));
  box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
  transition: box-shadow 0ms 0ms, transform 200ms ease-in-out;
}

.info label{
  box-sizing: content-box;
  display: block;
  position: absolute;
  top: 0;
  font-size: 2em;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  transform: translateY(0);
  transition: transform 200ms ease-out;
}

.info label:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.info h1 {
  margin: 4em 0 2em;
}

.info img {
  width: 80%;
}

.info p {
  margin-top: 2em;
  padding: 0 1em;
}

.visit {
  text-decoration: none;
  color: white;
  display: block;
  background-color: var(--accent);
  width: 5em;
  padding: .5em 0;
  border-radius: 5px;
  text-align: center;
  margin: 1em 0 2em;
}