:root {
    --color-primary: rgb(15,15,15);
    --color-primary-contrast: rgb(255,255,255);
    --color-primary-rgb: 15,15,15;
    --color-secondary: rgb(27,28,34);
    --color-secondary-contrast: rgb(255,255,255);
    --color-secondary-rgb: 27,28,34;
    --color-accent: rgb(200,65,60);
    --color-accent-contrast: rgb(255,255,255);
    --color-accent-rgb: 200,65,60;


    --font-xxs: clamp(0.5rem, 1rem + 2vw, 0.8rem);
    --font-xs: clamp(0.8rem, 1rem + 2vw, 1.2rem);
    --font-s: clamp(1rem, 1rem + 2vw, 1.4rem);
    --font-m: clamp(1.2rem, 1rem + 2vw, 1.6rem);
    --font-l: clamp(1.4rem, 1rem + 2vw, 1.8rem);
    --font-xl: clamp(2.6rem, 1rem + 2vw, 3rem);
    --font-xxl: clamp(3rem, 1rem + 2vw, 3.5rem);

    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;

    --padding-xxs: .25rem
    --padding-xs: .5rem;
    --padding-s: .75rem;
    --padding-m: 1rem;
    --padding-l: 1.25rem;
    --padding-xl: 1.75rem;
    --padding-xxl: 2.5rem;

    --border-s: .16em;
    --border-m: .5em;
    --border-l: .8em;;
}