:root {
    --color-primary: rgb(22,22,24);
    --color-primary-contrast: rgb(255,255,255);
    --color-primary-rgb: 22,22,24;
    --color-secondary: rgb(50,54,62);
    --color-secondary-contrast: rgb(255,255,255);
    --color-secondary-rgb: 50,54,62;
    --color-accent: rgb(88,123,218);
    --color-accent-contrast: rgb(255,255,255);
    --color-accent-rgb: 88,123,218;

    --font-xxs: clamp(0.5rem, 0.5rem + 1vw, 0.75rem);
    --font-xs: clamp(0.75rem, 0.75rem + 1vw, 1rem);
    --font-s: clamp(1rem, 1rem + 1vw, 1.25rem);
    --font-m: clamp(1.25rem, 1.25rem + 1vw, 1.5rem);
    --font-l: clamp(1.5rem, 1.5rem + 1vw, 2rem);
    --font-xl: clamp(2rem, 2rem + 1vw, 3rem);
    --font-xxl: clamp(3rem, 3rem + 1vw, 4rem);

    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;

    --padding-xxs: .25rem
    --padding-xs: .5rem;
    --padding-s: .75rem;
    --padding-m: 1rem;
    --padding-l: 1.25rem;
    --padding-xl: 1.75rem;
    --padding-xxl: 2.5rem;

    --border-s: .16em;
    --border-m: .5em;
    --border-l: .8em;;
}