@use "sass:math";

$grid-columns: 12;
$layout-values: flex-start, flex-end, center, space-between, space-around;

// base layout classes
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  height: 100%;
}

.center-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// justify + align
@each $val in $layout-values {
  .justify-#{$val} {
    justify-content: $val;
  }

  .align-#{$val} {
    align-items: $val;
  }
}

@each $size in $sizes {
  .m-#{$size} {
    margin: var(--margin-#{$size});
  }

  .m-l-#{$size} {
    margin-left: var(--margin-#{$size});
  }

  .m-t-#{$size} {
    margin-top: var(--margin-#{$size});
  }

  .m-r-#{$size} {
    margin-right: var(--margin-#{$size});
  }

  .m-b-#{$size} {
    margin-bottom: var(--margin-#{$size});
  }

  .m-v-#{$size} {
    margin-top: var(--margin-#{$size});
    margin-bottom: var(--margin-#{$size});
  }

  .m-h-#{$size} {
    margin-left: var(--margin-#{$size});
    margin-right: var(--margin-#{$size});
  }

  
  .p-#{$size} {
    padding: var(--padding-#{$size});
  }

  .p-l-#{$size} {
    padding-left: var(--padding-#{$size});
  }

  .p-t-#{$size} {
    padding-top: var(--padding-#{$size});
  }

  .p-r-#{$size} {
    padding-right: var(--padding-#{$size});
  }

  .p-b-#{$size} {
    padding-bottom: var(--padding-#{$size});
  }

  .p-v-#{$size} {
    padding-top: var(--padding-#{$size});
    padding-bottom: var(--padding-#{$size});
  }

  .p-h-#{$size} {
    padding-left: var(--padding-#{$size});
    padding-right: var(--padding-#{$size});
  }
}
