@for $i from 1 through length($sizes) {
  $size: nth($sizes, $i);
  .font-#{$size} {
    font-size: var(--font-#{$size});
  }

  h#{$i} {
    font-size: var(--font-#{$size});
    font-weight: 500;
  }
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.grey-1 {
  opacity: 50%;
}

.grey-2 {
  opacity: 40%;
}

.grey-3 {
  opacity: 20%;
}
