@for $i from 1 through length($sizes) {
  $size: nth($sizes, $i);
  .font-#{$size} {
    font-size: var(--font-#{$size});
  }

  h#{$i} {
    font-size: var(--font-#{$size});
    font-weight: 900;
  }
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.grey-1 {
  color: rgb(154, 154, 154);
}

.grey-2 {
  color: rgb(122, 122, 122);
}

.grey-3 {
  color: rgb(101, 101, 101);
}
